*{
    margin: 0;
    padding:0;
    
}
/*  ------font imports------ */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rock+3D&family=Special+Elite&display=swap');
/*-------color variables-------------*/

:root {
    --green: 	rgb(34,139,34);
    --yellow: 	#B37E02;
    --dark:rgba(0,0,0,0.5);
  }

  /* -----------------font variables-------------------*/
:root{
    --Raleway : 'Raleway', sans-serif;
    --rock :'Rock 3D', cursive;
    --Elite : 'Special Elite', cursive;
}

.logo{
    height: 100px;
    width: 100px;
}
.links{
    margin-top:90px;
    font-family: var(--Elite);
    
  
}
.nav-link{
    font-size:14px;
    border-radius: 10%;
}
.nav-link:nth-child(1){
    border-bottom:2px solid var(--green);

}
#Search{
    border-color:none ;
    box-shadow: none;
}
.Search-Btn{
    font-size: 19px;
    color:var(--yellow);
    
}
 
#search-input{
    border-color: none;
    box-shadow: none;
}
#search-input {
    border: none;
    transition:0.1s ease-out;
    outline: none;
    font-size: 14px;
    width:220px;
    background: none;
    padding: 0;
    border-bottom: 2px solid var(--green);

}

.Search-Btn:hover{
    color: var(--green);
    font-size: 20px;
}
#search-input:hover{
    border-bottom: 2px solid var(--green);
    background: rgb(255, 255, 255);
  
} 
::-webkit-placeholder { /* Chrome/Opera/Safari */
    color: transparent;
  }